#commande

    .recapitulatif
        background: #222
        display: flex
        justify-content: space-around
        align-items: center
        padding: 1em 0
        margin-bottom: 2em
        color: $accent-color
        font-size: 1.3em

        .valider-panier
            background: $accent-color
            border:
                color: #222
                radius: 20px
            padding: .5em 1em

            a
                color: white

#commande-recap
    display: flex
    flex-direction: column
    border: 4px dashed grey
    margin-bottom: 2em
    padding: .5em 0

#client-info, #client-cb
    display: flex
    align-items: center

#client-info
    justify-content: space-around

#client-cb
    justify-content: center

    input:last-child
        margin-left: 2em
