$pres-height: 500px

#presentation
    display: flex
    flex-direction : column
    min-height: $pres-height
    padding-top: 40px
    text-align: center

    background:
        image: url("../img/music-band.jpg")
        size: 100% auto
        repeat: no-repeat

    p
        color: #222
        font:
            weight: bolder
            size: 2em

    .cta
        cursor: pointer
        margin: 0 auto
        width: 20%
        padding: 1em
        background: $accent-color
        font-weight: bold
        text-transform: uppercase

        a
            color: #fff

