.table-liste
    display: table
    table-layout: fixed
    width: 100%
    border-collapse: collapse
    margin-bottom: 2em

    tr
        background: #222
        color: $accent-color

    .header-row
        color: pink
        background: transparentize(#222, 0.5)


    td, th
        text-align: center
        padding: 1em 0


    audio
        max-width: 50%
