include mixin/choix_nouveautes
include mixin/flash

main
    header
        h2#rubrique-title
            span Choix des nouveautés

    main#liste-rubriques-wrap

        +flash("success", "La nouveauté a été modifiée avec succès !")
        +flash("error", "Une erreur s'est produite en modifiant la nouveauté.")

        section
            input(type="text", placeholder="Numéro produit")#search-produit

        ul#liste-rubriques

            li.produit.produit-head
                p # produit
                p Nom produit
                p Artiste
                p Position
                p Renommer
                p Valider
                p Supprimer

            -var nb_ele = 6;
            -for(var i = 0; i <= nb_ele; i++) {
                +choix_nouveautes("+", nb_ele)
            -}

            hr


            li: h3 Ajouter un produit dans le top des nouveautés

            +flash("success", "Le produit a été ajouté aux nouveautés avec succès !")
            +flash("error", "Une erreur s'est produite lors de l'ajout du produit aux nouveautés.")

            li.produit.produit-head
                p Nom produit
                p # Artiste
                p Valider

            li.produit.produit-add
                input(type="text", placeholder="Nom produit")
                input(type="text", placeholder="Numéro artiste")
                input(type="sumbit", value="Valider")




