include mixin/produit

main
    header
        h2#rubrique-title
            span Votre commande

    main#commande

        ul#liste-produits

            -for(var i = 0; i <= 4; i++) {
                +produit("×")
            -}

            hr
            h3 Total
            li.recapitulatif
                img.logo(src="assets/img/logo-multimedia-world-light.png")
                p 5 titres musicaux
                p.prix-total 2727,27€
                button.cta.valider-panier: a(href="#") Valider



