mixin produit()
    li.produit
        img.audio-cover(src="assets/img/default-audio-cover.png")
        section.produit-info
            article.produit-info-text
                p.nom-musique Nom de la musique
                p.nom-artiste Nom de l'artiste
            article.produit-info-player
                audio.audio-controls(controls)
                    source(src="http://webcodetools.com/media/sound.ogg" type="audio/ogg")
                    source(src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg")
                    source(src="http://webcodetools.com/media/sound.wav" type="audio/wav")
                    | Votre navigateur ne supporte pas le player audio.
        p.prix-produit 27,27€
        button.ajouter-panier Retirer

main
    header
        h2#rubrique-title
            span Votre commande

    main#commande

        ul#liste-produits

            -for(var i = 0; i <= 4; i++) {
                +produit
            -}

            hr
            h3 Total
            li.recapitulatif
                img.logo(src="assets/img/logo-multimedia-world-light.png")
                p 5 titres musicaux
                p.prix-total 2727,27€
                button.cta.valider-panier: a(href="#") Valider



