include mixin/produit
include mixin/flash

main
    header
        h2#rubrique-title
            span Votre commande

    main#commande

        +flash("warning", "En validant cette commande, vous serez débiter du montant indiqué en bas de page.")

        section#commande-recap
            article#client-info
                p Numéro client : #932727
                p Nom : Dupont
                p Prénom : Jean
                p Adresse : 1 bis rue du projet logiciel, 750001 Paris
            article#client-cb
                label Votre numéro de CB
                input(required="true", type="text", pattern="[0-9]{16}", palceholder="Numéro de CB (16 chiffres)")

        ul#liste-produits

            -for(var i = 0; i <= 4; i++) {
                +produit("×")
            -}

            hr
            h3 Total
            li.recapitulatif
                img.logo(src="assets/img/logo-multimedia-world-light.png")
                p 5 titres musicaux
                p.prix-total 2727,27€
                button.cta.valider-panier: a(href="#") Valider



