include mixin/flash

main
    header
        h2#rubrique-title
            span Connexion

    main#connexion

        +flash("error", "Vos identifiants sont incorrects.")

        form#modal
            article.modal-part
                input(type="text", placeholder="Nom ...")
            article.modal-part
                input(type="password", placeholder="Password ...")
            article.modal-part
                button(type="submit") Se connecter
