main
    header
        h2#rubrique-title
            span Connexion

    main#connexion

        form#modal
            article.modal-part
                input(type="text", placeholder="Login ...")
            article.modal-part
                input(type="password", placeholder="Password ...")
            article.modal-part
                button(type="submit") Se connecter
