footer#page-footer
    ul#footer-items
        article.item: img.footer-logo-mmw(src="assets/img/logo-multimedia-world.png")
        article.item: img.footer-logo-LDMH(src="assets/img/LDMH.png")
        article.item: a(href="#") Conditions des offres en cours
        article.item: a(href="#") Conditions Générales de Vente
        article.item: a(href="#") Protection des données personnelles
        article.item: a(href="#") Mentions légales et CGV
