header#page-header
    nav#main-nav
        ul.nav-items
            li.item.logo-wrapper
                a(href="#"): img.logo(src="assets/img/logo-multimedia-world.png")
            li.item#searchbar-wrapper
                input#searchbar(type="text", placeholder="Recherche ...")
                button.look(type="submit")
                    i.fa.fa-2x.fa-search
            li.item#icon-pool
                article.icon-wrap
                    a(href="#")
                        i.icon.fa.fa-3x.fa-user
                        span.icon-text compte

                article.icon-wrap
                    a(href="panier.html")
                        i.icon.fa.fa-3x.fa-shopping-cart
                        span.icon-text panier

    hr

    nav#page-nav
        ul.nav-items
            li.item: a(href="#"): span nouveautés
            li.item.dropdown-on-hover rubriques
                ul.dropdown
                    li.item: a(href="rubriques.html#rock"): span Rock
                    li.item: a(href="rubriques.html#jazz"): span Jazz
                    li.item: a(href="rubriques.html#classique"): span Classique
                    li.item: a(href="rubriques.html#chansons%20enfantines"): span Chansons enfantines
            li.item: a(href="/presentation.html"): span a propos


