include mixin/produit

main
    header
        h2#rubrique-title
            span Titres musicaux

    main#liste-produits-wrap

        ul#liste-produits

            li.produit.produit-head
                p Nom de la musique
                p Nom de l'artiste
                p Extrait
                p Prix
                p Panier

            -for(var i = 0; i <= 6; i++) {
                +produit("+")
            -}



