main
    header
        h2#rubrique-title
            span Titre de cette page

    main
    p Quem offendit cernantur, a malis possumus familiaritatem. Ad in amet cillum  velit. A amet mentitum adipisicing. Legam se quamquam ubi summis, aute do     appellat qui veniam, litteris iis mandaremus in eu labore dolor a cernantur.     Legam mentitum iis singulis. Quo duis commodo proident.
