main
    header
        h2#rubrique-title
            span Mise à jour - Catalogue

    main#mise-a-jour-catalogue

        section#upload-wrap
            label Déposez un fichier (csv)
            input(type="file", name="file_upload")
