include mixin/produit

main
    header
        h2#rubrique-title
            span Votre panier

    main#panier

        ul#liste-produits

            -for(var i = 0; i <= 6; i++) {
                +produit("+")
            -}
        section.validation
            button.cta.valider-panier: a(href="commande.html") Valider



