include mixin/produit
include mixin/flash

main
    header
        h2#rubrique-title
            span Votre panier

    +flash("info", "Vous pourrez voir un récapitulatif de commande avant le paiement.")

    main#panier

        ul#liste-produits

            -for(var i = 0; i <= 6; i++) {
                +produit_du_panier("-")
            -}
        section.validation
            button.cta.valider-panier: a(href="commande.html") Valider



