main
    header
        h2#rubrique-title
            span Présentation

    main#presentation

        p Multimedia World, le leader mondial de la vente de CD et de DVD.

        button.cta: a(href="#") Parcourir
