include mixin/commande
include mixin/flash

main
    header
        h2#rubrique-title
            span Suivi de commande

    +flash("success", "Le statut de la commande a été modifié avec succès !")
    +flash("error", "Une erreur s'est produite lors de la mise à jour du statut d'une commande.")

    main#suivi-commande

        section
            input#search-commande(placeholder="Numéro de commande ...")

        ul#liste-produits

            li.produit.produit-head
                p Id client
                p Numéro de commande
                p Passée le
                p Prix
                p Statut

            - var n = 3;
            -for(var i = n; i >= 1; i--) {
                //+commande((i/n) * 100)
                +commande(n-1)
            -}



