
<main>
  <header>
    <h2 id="rubrique-title"><span>Choix des nouveautés</span></h2>
  </header>
  <main id="liste-rubriques-wrap">
    <section>
      <input type="text" placeholder="Numéro produit" id="search-produit"/>
    </section>
    <ul id="liste-rubriques">
      <li class="produit produit-head">
        <p># produit</p>
        <p>Nom produit</p>
        <p>Artiste</p>
        <p>Position</p>
        <p>Renommer</p>
        <p>Valider</p>
        <p>Supprimer</p>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Produit i</p>
        <p>Produit abc</p>
        <p>Artiste efg</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..." type="text"/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <hr/>
      <li>
        <h3>Ajouter un produit dans le top des nouveautés</h3>
      </li>
      <li class="produit produit-head">
        <p>Nom produit</p>
        <p># Artiste</p>
        <p>Valider</p>
      </li>
      <li class="produit produit-add">
        <input type="text" placeholder="Nom produit"/>
        <input type="text" placeholder="Numéro artiste"/>
        <input type="sumbit" value="Valider"/>
      </li>
    </ul>
  </main>
</main>