
<main>
  <header>
    <h2 id="rubrique-title"><span>Votre commande</span></h2>
  </header>
  <main id="commande">
    <section class="flash warning">
      <p>En validant cette commande, vous serez débiter du montant indiqué en bas de page.</p>
    </section>
    <section class="flash error">
      <p>Une erreur s'est produite lors de la validation de la commande.</p>
    </section>
    <section id="commande-recap">
      <article id="client-info">
        <p>Numéro client : #272727</p>
        <p>Nom : Dupont</p>
        <p>Prénom : Jean</p>
        <p>Adresse : 1 bis rue du projet logiciel, 750001 Paris</p>
      </article>
      <article id="client-cb">
        <label>Votre numéro de CB</label>
        <input required="true" type="text" pattern="[0-9]{16}" placeholder="Numéro de CB (16 chiffres)"/>
      </article>
    </section>
    <ul id="liste-produits">
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <hr/>
      <h3>Total</h3>
      <li class="recapitulatif"><img class="logo" src="assets/img/logo-multimedia-world-light.png"/>
        <p>5 titres musicaux</p>
        <p class="prix-total">2727,27€</p>
        <button class="cta valider-panier"><a href="#">Valider</a></button>
      </li>
    </ul>
  </main>
</main>