
<main>
  <header>
    <h2 id="rubrique-title"><span>Votre commande</span></h2>
  </header>
  <main id="commande">
    <ul id="liste-produits">
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <section class="produit-info">
          <p class="nom-musique">Nom de la musique</p>
          <p class="nom-artiste">Nom de l'artiste</p>
        </section>
        <audio class="audio-controls" controls="controls">
          <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
          <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
          <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
        </audio>
        <p class="prix-produit">27,27€</p>
        <button class="ajouter-panier">×</button>
      </li>
      <hr/>
      <h3>Total</h3>
      <li class="recapitulatif"><img class="logo" src="assets/img/logo-multimedia-world-light.png"/>
        <p>5 titres musicaux</p>
        <p class="prix-total">2727,27€</p>
        <button class="cta valider-panier"><a href="#">Valider</a></button>
      </li>
    </ul>
  </main>
</main>