
<main>
  <header>
    <h2 id="rubrique-title"><span>Connexion</span></h2>
  </header>
  <main id="connexion">
    <section class="flash error">
      <p>Vos identifiants sont incorrects.</p>
    </section>
    <form id="modal">
      <article class="modal-part">
        <input type="text" placeholder="Nom ..."/>
      </article>
      <article class="modal-part">
        <input type="password" placeholder="Password ..."/>
      </article>
      <article class="modal-part">
        <button type="submit">Se connecter</button>
      </article>
    </form>
  </main>
</main>