
<main>
  <header>
    <h2 id="rubrique-title"><span>Consultation de la clientèle</span></h2>
  </header>
  <section class="flash warning">
    <p>Ce numéro ne correspond à aucun client de la base de données Multimedia World.</p>
  </section>
  <main id="liste-rubriques-wrap">
    <section>
      <input type="text" placeholder="Numéro client" id="search-produit"/>
    </section>
    <section id="commande-recap">
      <article id="client-info">
        <p>Numéro client : #932727</p>
        <p>Nom : Dupont</p>
        <p>Prénom : Jean</p>
        <p>Adresse : 1 bis rue du projet logiciel, 750001 Paris</p>
      </article>
    </section>
    <hr/>
    <h2>Commandes de ce client</h2>
    <ul id="all-commandes">
      <li class="num-commande"><a href="#">#XFPSEN000</a></li>
      <li class="num-commande"><a href="#">#XFPSEN001</a></li>
      <li class="num-commande"><a href="#">#XFPSEN002</a></li>
      <li class="num-commande"><a href="#">#XFPSEN003</a></li>
      <li class="num-commande"><a href="#">#XFPSEN004</a></li>
    </ul>
  </main>
</main>