
<footer id="page-footer">
  <ul id="footer-items">
    <article class="item"><img class="footer-logo-mmw" src="assets/img/logo-multimedia-world.png"/></article>
    <article class="item"><img class="footer-logo-LDMH" src="assets/img/LDMH.png"/></article>
    <article class="item"><a href="#">Conditions des offres en cours</a></article>
    <article class="item"><a href="#">Conditions Générales de Vente</a></article>
    <article class="item"><a href="#">Protection des données personnelles</a></article>
    <article class="item"><a href="#">Mentions légales et CGV</a></article>
  </ul>
</footer>