
<main>
  <header>
    <h2 id="rubrique-title"><span>Gestion des rubriques</span></h2>
  </header>
  <section class="flash success">
    <p>La rubrique a été modifiée avec succès !</p>
  </section>
  <section class="flash error">
    <p>Une erreur s'est produite lors de la modification d'une rubrique.</p>
  </section>
  <main id="liste-rubriques-wrap">
    <ul id="liste-rubriques">
      <li class="produit produit-head">
        <p>Rubrique</p>
        <p>Position</p>
        <p>Renommer</p>
        <p>Validation</p>
        <p>Suppression</p>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <li class="produit">
        <!--img.audio-cover(src="assets/img/default-audio-cover.png")-->
        <p>Rubrique i</p>
        <select name="select">
          <option value="0">Position 0</option>
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
        <input placeholder="Renommer ..."/>
        <button class="cta">Valider</button>
        <button class="cta">Supprimer</button>
      </li>
      <hr/>
      <li>
        <h3>Ajouter une rubrique</h3>
      </li>
      <section class="flash success">
        <p>La rubrique a été ajoutée avec succès !</p>
      </section>
      <section class="flash error">
        <p>Une erreur s'est produite lors de la création d'une rubrique.</p>
      </section>
      <li class="produit produit-head">
        <p>Nom rubrique</p>
      </li>
      <li class="produit produit-add">
        <input type="text" placeholder="Nom rubrique"/>
        <input type="sumbit" value="Valider"/>
      </li>
    </ul>
  </main>
</main>