
<main>
  <header>
    <h2 id="rubrique-title"><span>Inscription</span></h2>
  </header>
  <section class="flash error">
    <p>Une erreur s'est produite lors de votre inscription.</p>
  </section>
  <section class="flash error">
    <p>Vous n'avez pas rempli tous les champs !</p>
  </section>
  <main id="inscription">
    <form id="modal">
      <article class="modal-part">
        <input type="text" placeholder="Nom ..."/>
      </article>
      <article class="modal-part">
        <input type="text" placeholder="Prénom ..."/>
      </article>
      <article class="modal-part">
        <input type="text" placeholder="Adresse ..."/>
      </article>
      <article class="modal-part">
        <label>Vous êtes un ...</label>
        <select name="select">
          <option value="client">client</option>
          <option value="professionel">professionel</option>
        </select>
      </article>
      <article class="modal-part">
        <input type="password" placeholder="Mot de passe ..."/>
      </article>
      <article class="modal-part">
        <button type="submit">S'inscrire</button>
      </article>
    </form>
  </main>
</main>