
<main>
  <header>
    <h2 id="rubrique-title"><span>Suivi de commande</span></h2>
  </header>
  <section class="flash success">
    <p>Le statut de la commande a été modifié avec succès !</p>
  </section>
  <section class="flash error">
    <p>Une erreur s'est produite lors de la mise à jour du statut d'une commande.</p>
  </section>
  <main id="suivi-commande">
    <section>
      <input id="search-commande" placeholder="Numéro de commande ..."/>
    </section>
    <ul id="liste-produits">
      <li class="produit produit-head">
        <p>Id client</p>
        <p>Numéro de commande</p>
        <p>Passée le</p>
        <p>Prix</p>
        <p>Statut</p>
      </li>
      <!--+commande((i/n) * 100)-->
      <li class="commande">
        <p>id client</p>
        <p>Numéro commande</p>
        <time datetime="2016-07-27">27 juillet 2016</time>
        <var>27,27€</var>
        <article class="progress-status">
          <!--progress(value=progress, max="100")-->
          <input type="range" value="2" min="0" max="2" step="1"/><span>En cours</span>
        </article>
      </li>
      <!--+commande((i/n) * 100)-->
      <li class="commande">
        <p>id client</p>
        <p>Numéro commande</p>
        <time datetime="2016-07-27">27 juillet 2016</time>
        <var>27,27€</var>
        <article class="progress-status">
          <!--progress(value=progress, max="100")-->
          <input type="range" value="2" min="0" max="2" step="1"/><span>En cours</span>
        </article>
      </li>
      <!--+commande((i/n) * 100)-->
      <li class="commande">
        <p>id client</p>
        <p>Numéro commande</p>
        <time datetime="2016-07-27">27 juillet 2016</time>
        <var>27,27€</var>
        <article class="progress-status">
          <!--progress(value=progress, max="100")-->
          <input type="range" value="2" min="0" max="2" step="1"/><span>En cours</span>
        </article>
      </li>
    </ul>
  </main>
</main>