
<main>
  <header>
    <h2 id="rubrique-title"><span>Suivi de commande</span></h2>
  </header>
  <main id="suivi-commande">
    <ul id="liste-produits">
      <li class="commande">
        <p>Numéro commande</p>
        <time datetime="2016-07-27"></time>
        <var>27,27€</var>
        <article class="progress-status">
          <progress value="100" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="commande">
        <p>Numéro commande</p>
        <time datetime="2016-07-27"></time>
        <var>27,27€</var>
        <article class="progress-status">
          <progress value="75" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="commande">
        <p>Numéro commande</p>
        <time datetime="2016-07-27"></time>
        <var>27,27€</var>
        <article class="progress-status">
          <progress value="50" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="commande">
        <p>Numéro commande</p>
        <time datetime="2016-07-27"></time>
        <var>27,27€</var>
        <article class="progress-status">
          <progress value="25" max="100"></progress><span>En cours</span>
        </article>
      </li>
    </ul>
  </main>
</main>