
<main>
  <header>
    <h2 id="rubrique-title"><span>Suivi de commande</span></h2>
  </header>
  <main id="suivi-commande">
    <ul id="liste-produits">
      <li class="produit"><img class="audio-cover" src="assets/img/default-audio-cover.png"/>
        <section class="produit-info">
          <article class="produit-info-text">
            <p class="nom-musique">Nom de la musique</p>
            <p class="nom-artiste">Nom de l'artiste</p>
          </article>
          <article class="produit-info-player">
            <audio class="audio-controls" controls="controls">
              <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
              <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
              <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
            </audio>
          </article>
        </section>
        <p class="prix-produit">27,27€</p>
        <article class="progress-status">
          <progress value="100" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="produit"><img class="audio-cover" src="assets/img/default-audio-cover.png"/>
        <section class="produit-info">
          <article class="produit-info-text">
            <p class="nom-musique">Nom de la musique</p>
            <p class="nom-artiste">Nom de l'artiste</p>
          </article>
          <article class="produit-info-player">
            <audio class="audio-controls" controls="controls">
              <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
              <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
              <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
            </audio>
          </article>
        </section>
        <p class="prix-produit">27,27€</p>
        <article class="progress-status">
          <progress value="75" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="produit"><img class="audio-cover" src="assets/img/default-audio-cover.png"/>
        <section class="produit-info">
          <article class="produit-info-text">
            <p class="nom-musique">Nom de la musique</p>
            <p class="nom-artiste">Nom de l'artiste</p>
          </article>
          <article class="produit-info-player">
            <audio class="audio-controls" controls="controls">
              <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
              <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
              <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
            </audio>
          </article>
        </section>
        <p class="prix-produit">27,27€</p>
        <article class="progress-status">
          <progress value="50" max="100"></progress><span>En cours</span>
        </article>
      </li>
      <li class="produit"><img class="audio-cover" src="assets/img/default-audio-cover.png"/>
        <section class="produit-info">
          <article class="produit-info-text">
            <p class="nom-musique">Nom de la musique</p>
            <p class="nom-artiste">Nom de l'artiste</p>
          </article>
          <article class="produit-info-player">
            <audio class="audio-controls" controls="controls">
              <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
              <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
              <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
            </audio>
          </article>
        </section>
        <p class="prix-produit">27,27€</p>
        <article class="progress-status">
          <progress value="25" max="100"></progress><span>En cours</span>
        </article>
      </li>
    </ul>
  </main>
</main>