
<main>
  <header>
    <h2 id="rubrique-title"><span>Titres musicaux</span></h2>
  </header>
  <main id="liste-produits-wrap">
    <table class="table-liste">
      <tr class="header-row">
        <th scope="col">Nom de la musique</th>
        <th scope="col">Nom de l'artise</th>
        <th scope="col">Extrait</th>
        <th scope="col">Prix</th>
        <th scope="col">Panier</th>
      </tr>
      <tr class="content-row">
        <td>Nom de la musique</td>
        <td>Nom de l'artise</td>
        <td>
          <audio class="audio-controls" controls="controls">
            <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
            <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
            <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
          </audio>
        </td>
        <td>2,27€</td>
        <td>
          <button class="ajouter-panier">+</button>
        </td>
      </tr>
      <tr class="content-row">
        <td>Nom de la musique</td>
        <td>Nom de l'artise</td>
        <td>
          <audio class="audio-controls" controls="controls">
            <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
            <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
            <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
          </audio>
        </td>
        <td>2,27€</td>
        <td>
          <button class="ajouter-panier">+</button>
        </td>
      </tr>
      <tr class="content-row">
        <td>Nom de la musique</td>
        <td>Nom de l'artise</td>
        <td>
          <audio class="audio-controls" controls="controls">
            <source src="http://webcodetools.com/media/sound.ogg" type="audio/ogg"/>
            <source src="http://webcodetools.com/media/sound.mp3" type="audio/mpeg"/>
            <source src="http://webcodetools.com/media/sound.wav" type="audio/wav"/>Votre navigateur ne supporte pas le player audio.
          </audio>
        </td>
        <td>2,27€</td>
        <td>
          <button class="ajouter-panier">+</button>
        </td>
      </tr>
    </table>
  </main>
</main>